# Created by https://www.gitignore.io

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# CSV and ZIP files
*.csv
*.zip
*.bcp

# other files
*.pyc
*.tmp
.cache/
__pycache__/

# Test data zips
RegPlus*.zip